<html>

	<head>
		<script src="static/check.js"></script>
		<script src="static/jslib/forge.bundle.js"></script>
		<script src="static/jslib/file-saver.js"></script>
		<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />

		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>PEBC</title>
	</head>
	<body>
	<!-- looks like we're going to have jquery for a bit to keep this from being ugly -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

	<div class="container">

	<h2 class="center">PEBC</h2>
	<h5 class="center" style="color:grey">Privacy-Enhanced Background Checks for Private Firerams Sales</h5>
	<form name="transferInfo">
		<fieldset>
			<legend class="center"> <h5>Buyer Information (will be visible)</h5> </legend>
			<div class="row" style="padding:25px">
				<div class="col s4">
					<input placeholder="John" type="text" id="buyerFisrt" name="buyerFirst">
					<label for="buyerFisrt">First Name</label>
				</div>
				<div class="col s4">
					<input placeholder="Gordon" type="text" id="buyerMiddle" name="buyerMiddle">
					<label for="buyerMiddle">Middle Name(s)</label>
				</div>
				<div class="col s4">
					<input placeholder="Doe" type="text" id="buyerLast" name="buyerLast">
					<label for="buyerLast">Last Name</label>
				</div>
				<div class="center col s12">
				<br>
				-- AND EITHER --
			  </div>
				<div class="col s12">
					<input placeholder="123-45-6789" type="text" id="buyerSSN" name="buyerSSN">
					<label for="buyerSSN">Social Security Number</label>
				</div>
				<div class="center col s12">
				-- OR --
			  </div>
				<div class="col s6">
					<input placeholder="F12345678" type="text" id="buyerDL" name="buyerDL">
					<label for="buyerDL">Driver's License #</label>
			  </div>
				<div class="input-field col s6">
					<select name="buyerDLS" class="browser-default">
						<option value="" disabled selected>Select State</option>
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>
				</div>
			</div>
		</fieldset>
		<br>
		<fieldset>
			<legend class="center"> <h5>Seller Information (will be encrypted)</h5> </legend>
			<div class="row" style="padding:25px">
				<div class="col m4">
					<input placeholder="Jane" type="text" id="sellerFirst" name="sellerFirst">
					<label for="sellerFirst">First Name</label>
				</div>
				<div class="col m4">
					<input placeholder="Alyx" type="text" id="sellerMiddle" name="sellerMiddle">
					<label for="sellerMiddle">Middle Name(s)</label>
				</div>
				<div class="col m4">
					<input placeholder="Doe" type="text" id="sellerLast" name="sellerLast">
					<label for="sellerLast">Last Name</label>
				</div>
				<div class="col m12">
					<input placeholder="123-12221-12331" type="text" id="sellerFFL" name="sellerFFL">
					<label for="sellerFFL">FFL# (if applicable)</label>
				</div>
			</div>
		</fieldset>
		<br>
		<fieldset>
			<legend class="center"> <h5>Firearm Information (will be encrypted)</h5> </legend>
			<div class="row" style="padding:25px">
				<div class="col s6">
					<input placeholder="IWI" type="text" id="gunManufacturer" name="gunManufacturer">
					<label for="gunManufacturer">Manufacturer (i.e Ruger)</label>
				</div>
				<div class="col s6">
					<input placeholder="Tavor" type="text" id="gunModel" name="gunModel">
					<label for="gunModel">Model</label>
				</div>
				<div class="input-field col s6">
					<select name="gunType" class="browser-default">
						<option value="" disabled selected>Select type</option>
		        <option value="handgun">Handgun</option>
			      <option value="longGun">Long Gun (Rifles or Shotguns)</option>
		        <option value="other">Other (Frame, receriver, etc.)</option>
					</select>
				</div>
				<div class="col s6">
					<input placeholder="123-xxx-x1212" type="text" id="gunSerial" name="gunSerial">
					<label for="gunSerial">Serial Number</label>
				</div>
			</div>
		</fieldset>
		<br>
		<fieldSet>
			<legend class="center"> <h5>Encryption Settings</h5> </legend>
			<select name="keySize" id="keySize" class="browser-default">
        <option value="1024" class="center">1024 (Less Secure)</option>
	      <option value="2048" selected="selected">2048 (Secure)</option>
        <option value="4096">4096 (Extremely Secure)</option>
        <option value="8192">8192 (Irrational Paranoia)</option>
			</select>
			<label for="keySize">Key Size (in bits)</label>
		</fieldSet>
	</form>
	<br>
	<div class="row center" style="width:500px;margin-left:auto;margin-right:auto">
		<button class="btn waves-effect waves-light red lighten-2 col s6" type="clear" onclick="resetForm();" >
			Clear <i class="material-icons right">delete</i>
		</button>
		<button class="btn waves-effect waves-light green lighten-2 col s6" type="submit" onclick="check();">
			Submit <i class="material-icons right">send</i>
		</button>
	</div>
</div>
</body>
</html>
